<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">

    <!-- Including external xacro file for inertial macros -->
    <xacro:include filename="inertial_macros.xacro" />

    <!-- Define a fixed joint for the laser -->
    <joint name="laser_joint" type="fixed">
        <parent link="base_link"/>
        <child link="laser_frame"/>
        <origin xyz="0.15 0 0.3" rpy="0 0 0"/>
    </joint>

    <!-- Define the laser frame link -->
    <link name="laser_frame">
        <inertial>
            <origin xyz="-0.11 0 -0.3" rpy="0 0 0"/>
            <mass value="0.058519310420852316"/>
            <inertia ixx="0.0001" ixy="0.0" ixz="0.0" iyy="0.0001" iyz="0.0" izz="0.0001"/>
        </inertial>
        
        <visual>
            <origin xyz="-0.11 0 -0.3" rpy="0 0 0"/>
            <geometry>
                <mesh filename="$(find articubot_one)/description/meshes/lidar_1.stl" scale="0.001 0.001 0.001"/>
            </geometry>
        </visual>
        
        <collision>
            <origin xyz="0 0 0.025" rpy="0 0 0"/>
            <geometry>
                <cylinder radius="0.05" length="0.05"/>
            </geometry>
        </collision>
    </link>

    <gazebo reference="laser_frame">
        <material>Gazebo/Red</material>

        <sensor name="laser" type="ray">
            <pose>0 0 0.01 0 0 0</pose>
            <visualize>true</visualize>
            <update_rate>10</update_rate>
            <ray>
                <scan>
                    <horizontal>
                        <samples>360</samples>
                        <min_angle>-3.14</min_angle>
                        <max_angle>3.14</max_angle>
                    </horizontal>
                </scan>
                <range>
                    <min>0.3</min>
                    <max>12</max>
                </range>
            </ray>
            <plugin name="laser_controller" filename="libgazebo_ros_ray_sensor.so">
                <ros>
                    <namespace>/</namespace>
                    <remapping>out:=/scan</remapping>
                </ros>
                <output_type>sensor_msgs/LaserScan</output_type>
                <frame_name>laser_frame</frame_name>
            </plugin>
        </sensor>
    </gazebo>
</robot>
