<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">
  <xacro:property name="PI" value="3.1415926535897931" />
  <xacro:include filename="inertial_macros.xacro" />
  <xacro:include filename="$(find articubot_one)/description/mecanum_wheel/mecanum_wheel.urdf.xacro"/>

  <!-- Material Definitions -->
  <material name="white">
    <color rgba="1 1 1 1"/>
  </material>
  <material name="blue">
    <color rgba="0.2 0.2 1 1"/>
  </material>
  <material name="black">
    <color rgba="0 0 0 1"/>
  </material>
  <material name="red">
    <color rgba="1 0 0 1"/>
  </material>
  <material name="yellow">
    <color rgba="0.8 0.8 0.0 1.0"/>
  </material>
  <material name="dark_grey">
    <color rgba="0.2 0.2 0.2 1.0"/>
  </material>
  <material name="light_grey">
    <color rgba="0.4 0.4 0.4 1.0"/>
  </material>
  <material name="light_purple">
    <color rgba="0.8 0.6 1.0 1.0"/>
  </material>

  <link name="base_footprint" />

  <joint name="base_link_joint" type="fixed">
    <origin xyz="0 0 0.04" rpy="0 0 0" />
    <parent link="base_footprint" />
    <child link="base_link" />
  </joint>

  <!-- Define base link -->
  <link name="base_link">
    <xacro:inertial_box mass="4.0990470908566525" x="0.7" y="0.5" z="0.3">
              <origin xyz="0 0 0" rpy="0 0 0"/>
    </xacro:inertial_box>
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <geometry>
        <mesh filename="$(find articubot_one)/description/meshes/base_link.stl" scale="0.001 0.001 0.001"/>
      </geometry>
      <material name="light_purple"/>
    </visual>
    <collision>
      <origin xyz="0 0 0.15" rpy="0 0 0"/>
      <geometry>
        <box size="0.7 0.5 0.3"/>
      </geometry>
    </collision>
  </link>

  <!-- Upper Left Wheel -->
  <xacro:wheel_v0 prefix="upper" parent="base_link">
    <origin xyz="0.2 0.275 0.01" rpy="0 0 ${PI}"/>
    <axis xyz="0 1 0"/>
  </xacro:wheel_v0>

  <!-- Lower Left Wheel -->
  <xacro:wheel_v0 prefix="lower" parent="base_link">
    <origin xyz="-0.2 0.275 0.01" rpy="0 0 ${PI}"/>
    <axis xyz="0 1 0"/>
  </xacro:wheel_v0>

  <!-- Upper Right Wheel -->
  <xacro:wheel_v1 prefix="upper" parent="base_link">
    <origin xyz="0.2 -0.275 0.01" rpy="0 0 0"/>
    <axis xyz="0 -1 0"/>
  </xacro:wheel_v1>

  <!-- Lower Right Wheel -->
  <xacro:wheel_v1 prefix="lower" parent="base_link">
    <origin xyz="-0.2 -0.275 0.01" rpy="0 0 0"/>
    <axis xyz="0 -1 0"/>
  </xacro:wheel_v1>

  <!-- Transmissions -->
  <xacro:wheel_trans_v0 prefix="upper_right"/>
  <xacro:wheel_trans_v0 prefix="upper_left"/>
  <xacro:wheel_trans_v0 prefix="lower_right"/>
  <xacro:wheel_trans_v0 prefix="lower_left"/>

  <!-- Gazebo -->
  <gazebo reference="base_link">
    <material>Gazebo/Green</material>
  
    <self_collide>false</self_collide>
    <gravity>true</gravity>
  </gazebo>

  <!-- Wheel Gazebo -->
  <xacro:wheel_gazebo_v0 prefix="upper_right"/>
  <xacro:wheel_gazebo_v0 prefix="upper_left"/>
  <xacro:wheel_gazebo_v0 prefix="lower_right"/>
  <xacro:wheel_gazebo_v0 prefix="lower_left"/>
</robot>
