<robot xmlns:xacro="http://www.ros.org/wiki/xacro">
  <xacro:include filename="inertial_macros.xacro" />
  <xacro:property name="PI" value="3.1415926535897931" />
  
  <xacro:property name="wheel_radius" value="0.050" />
  <xacro:property name="wheel_width" value="0.0505" />
  
  <material name="white">
    <color rgba="1 1 1 1"/>
  </material>
  <material name="orange">
    <color rgba="1 0.3 0.1 1"/>
  </material>
  <material name="blue">
    <color rgba="0.2 0.2 1 1"/>
  </material>
  <material name="black">
    <color rgba="0 0 0 1"/>
  </material>
  <material name="red">
    <color rgba="1 0 0 0"/>
  </material>
  <material name="yellow">
    <color rgba="0.8 0.8 0.0 1.0" />
  </material>
  <material name="dark_grey">
    <color rgba="0.2 0.2 0.2 1.0" />
  </material>
  <material name="light_grey">
    <color rgba="0.4 0.4 0.4 1.0" />
  </material>
  <material name="light_purple">
    <color rgba="0.8 0.6 1.0 1.0"/>
  </material>

  
  <link name="base_footprint" />
    
  <joint name="base_link_joint" type="fixed">
    <origin xyz="0 0 0" rpy="0 0 0" />
    <parent link="base_footprint" />
    <child link="base_link" />
  </joint>

  <!-- Define base link -->
  <link name="base_link">
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="package://articubot_one/description/meshes/base_link.stl" scale="0.001 0.001 0.001"/>
      </geometry>
      <material name="light_purple" />
    </visual>
    <collision>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="package://articubot_one/description/meshes/base_link.stl" scale="0.001 0.001 0.001" />
      </geometry>
    </collision>
    <inertial>
      <origin xyz="0.0 0.0 0.12497182661389164" rpy="0 0 0"/>
      <mass value="34.623616600117174"/>
      <inertia ixx="0.971991" iyy="1.604575" izz="1.930029" ixy="0.0" iyz="0.0" ixz="0.0"/>
    </inertial>
  </link>

  <gazebo reference="base_link">
    <material>
      <ambient>
        <light_purple />
      </ambient>
    </material>
    <mu1>0.2</mu1>
    <mu2>0.2</mu2>
    <self_collide>true</self_collide>
    <gravity>true</gravity>
  </gazebo>
   
 <joint name="upper_left_wheel_joint" type="fixed">
  <origin xyz="-0.225 0.205 0" rpy="0 0 0" />
  <parent link="base_link"/>
  <child link="upper_left_wheel" />
  <axis xyz="0 1 0"/>
</joint>

<link name="upper_left_wheel">
  <visual>
    <origin xyz="0 0 0" rpy="0 0 0" />
    <geometry>
      <mesh filename="package://articubot_one/description/meshes/mecanum_wheel_left.STL" scale="0.001 0.001 0.001"/>
    </geometry>
    <material name="orange" />
  </visual>
  <collision>
    <origin xyz="0 0 0" rpy="${PI/2} 0 0"/>
    <geometry>
      <cylinder radius="${wheel_radius}" length="${wheel_width}"/>
    </geometry>
  </collision>
  <inertial>
    <origin xyz="0.0 0.0 0.0" rpy="0 0 0"/>
    <mass value="0.3844"/>
    <inertia
      ixx="0.000324824" ixy="0" ixz="0"
      iyy="0.000480000" iyz="0"
      izz="0.000324824"/>
  </inertial>
</link>

<joint name="lower_left_wheel_joint" type="fixed">
  <origin xyz="-0.225 -0.205 0." rpy="0 0 0" />
  <parent link="base_link"/>
  <child link="lower_left_wheel" />
  <axis xyz="0 1 0"/>
</joint>

<link name="lower_left_wheel">
  <visual>
    <origin xyz="0 0 0" rpy="0 0 0" />
    <geometry>
      <mesh filename="package://articubot_one/description/meshes/mecanum_wheel_left.STL" scale="0.001 0.001 0.001"/>
    </geometry>
    <material name="orange" />
  </visual>
  <collision>
    <origin xyz="0 0 0" rpy="${PI/2} 0 0"/>
    <geometry>
      <cylinder radius="${wheel_radius}" length="${wheel_width}"/>
    </geometry>
  </collision>
  <inertial>
    <origin xyz="0.0 0.0 0.0" rpy="0 0 0"/>
    <mass value="0.3844"/>
    <inertia
      ixx="0.000324824" ixy="0" ixz="0"
      iyy="0.000480000" iyz="0"
      izz="0.000324824"/>
  </inertial>
</link>

<joint name="upper_right_wheel_joint" type="fixed">
  <origin xyz="0.225 0.205 0" rpy="0 0 0" />
  <parent link="base_link"/>
  <child link="upper_right_wheel" />
  <axis xyz="0 1 0"/>
</joint>

<link name="upper_right_wheel">
  <visual>
    <origin xyz="0 0 0" rpy="0 0 0" />
    <geometry>
      <mesh filename="package://articubot_one/description/meshes/mecanum_wheel_left.STL" scale="0.001 0.001 0.001"/>
    </geometry>
    <material name="orange" />
  </visual>
  <collision>
    <origin xyz="0 0 0" rpy="${PI/2} 0 0"/>
    <geometry>
      <cylinder radius="${wheel_radius}" length="${wheel_width}"/>
    </geometry>
  </collision>
  <inertial>
    <origin xyz="0.0 0.0 0.0" rpy="0 0 0"/>
    <mass value="0.3844"/>
    <inertia
      ixx="0.000324824" ixy="0" ixz="0"
      iyy="0.000480000" iyz="0"
      izz="0.000324824"/>
  </inertial>
</link>

<joint name="lower_right_wheel_joint" type="fixed">
  <origin xyz="0.225 -0.205 0" rpy="0 0 0" />
  <parent link="base_link"/>
  <child link="lower_right_wheel" />
  <axis xyz="0 1 0"/>
</joint>

<link name="lower_right_wheel">
  <visual>
    <origin xyz="0 0 0" rpy="0 0 0" />
    <geometry>
      <mesh filename="package://articubot_one/description/meshes/mecanum_wheel_left.STL" scale="0.001 0.001 0.001"/>
    </geometry>
    <material name="orange" />
  </visual>
  <collision>
    <origin xyz="0 0 0" rpy="${PI/2} 0 0"/>
    <geometry>
      <cylinder radius="${wheel_radius}" length="${wheel_width}"/>
    </geometry>
  </collision>
  <inertial>
    <origin xyz="0.0 0.0 0.0" rpy="0 0 0"/>
    <mass value="0.3844"/>
    <inertia
      ixx="0.000324824" ixy="0" ixz="0"
      iyy="0.000480000" iyz="0"
      izz="0.000324824"/>
  </inertial>
</link>

  <gazebo reference="lower_right_wheel">
    <material>
      <ambient>
        <yellow />
      </ambient>
    </material>
  </gazebo>
</robot>
